src/main/mule/global/retrievetravelontiproutesandschedule-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <flow name="retrievetravelontiproutesandschedule-sapi-main">
        <http:listener config-ref="retrievetravelontiproutesandschedule-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrievetravelontiproutesandschedule-sapi-config" />
        <error-handler ref="globalErrorHandlerError_Handler">
           
        </error-handler>
    </flow>
    <flow name="retrievetravelontiproutesandschedule-sapi-console">
        <http:listener config-ref="retrievetravelontiproutesandschedule-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrievetravelontiproutesandschedule-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <sub-flow name="retrievetravelontiproutesandschedule-InitalizeRequestVariable-sapiSub_Flow" doc:id="b40b6568-a8a1-4055-82ec-eaf4141b2303" >
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
                <ee:set-variable variableName="transportCompany"><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
				<ee:set-variable variableName="transactionId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
	<flow name="get:\(transportType)\(transportCompany)\routes:retrievetravelontiproutesandschedule-sapi-config">
		<flow-ref doc:name="Flow Reference for initialization of request" doc:id="9fe13852-bde2-4a3b-809c-e1f036b408e0" name="retrievetravelontiproutesandschedule-InitalizeRequestVariable-sapiSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="01d900cf-dc3e-49af-991f-47cdb304915c" message="Request recieved for Routes TravelOnTip SAPI  For TransactionId:#[attributes.headers.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="ea4fe0c7-552b-4a52-9fd6-3d8b8aaef181" name="travelOnTip-getRoutes-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="031d5ed9-c030-4035-9976-0f78a10e3586" message="Response send for Schedules TravelOnTip SAPI  For TransactionId:#[attributes.headers.transactionId]"/>
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\schedules:retrievetravelontiproutesandschedule-sapi-config">
		<flow-ref doc:name="Flow Reference for initialization of request" doc:id="4f2ae1d7-95a5-4f08-9b6f-331440d175ce" name="retrievetravelontiproutesandschedule-InitalizeRequestVariable-sapiSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="3735f8b5-ee8e-425f-8935-012f6b6bf1d9" message="Request recieved for Schedules TravelOnTip SAPI  For TransactionId:#[attributes.headers.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="eec5474b-8116-4275-b9e3-299bbd161867" name="travelOnTip-getSchedules-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="17fea3cd-6581-4bd1-aa53-842547d48b8f" message="Response send for Schedules TravelOnTip SAPI  For TransactionId:#[attributes.headers.transactionId]"/>
    </flow>
</mule>
